.main{
   
    border-style: solid;
    border-width: 10px;
    font-family: Arial;
    border: 2px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: darkorange;

}
body{
    background-image:url("protons.jpg");
    text-align: center;
    background-blend-mode: hard-light;
}